.featured {
  position: relative;
  height: 90vh;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    select {
      cursor: pointer;
      background: black;
      padding: 5px;
      color: white;
      margin-left: 20px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 37%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
      width: 400px;
    }
    .desc {
      margin: 20px 0;
    }
    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        gap: 5px;

        &.play {
          background-color: white;
          color: var(--main-color);
        }

        &.more {
          background-color: gray;
          color: white;
        }
        span {
          margin-left: 5px;
        }
      }
    }
  }
}
