.navbar {
  color: white;
  font-size: 14px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background: var(--main-color);
  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 40px;
      }

      span {
        margin-right: 20px;
      }
    }

    .right {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        object-fit: cover;
      }

      .icon {
        cursor: pointer;
        margin: 0 15px;
      }

      .profile {
        .option {
          display: none;
          background: var(--main-color);
          border-radius: 10px;
          padding: 5px;
          cursor: pointer;
        }

        &:hover {
          .option {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
